<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Expand to see the Devex Chart
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div id="chart-demo">
                            <dx-chart palette="violet" [dataSource]="architecturesInfo" title="Architecture Share Over Time (Count)">
                                <dxi-series valueField="smp" name="SMP"></dxi-series>
                                <dxi-series valueField="mmp" name="MMP"></dxi-series>
                                <dxi-series valueField="cnstl" name="Cnstl"></dxi-series>
                                <dxi-series valueField="cluster" name="Cluster"></dxi-series>
                                <dxo-common-series-settings #seriesSettings argumentField="year" [type]="types[0]">
                                </dxo-common-series-settings>
                                <dxo-margin [bottom]="20"></dxo-margin>
                                <dxo-common-axis-settings>
                                    <dxo-grid [visible]="true"></dxo-grid>
                                </dxo-common-axis-settings>
                                <dxo-legend verticalAlignment="top" horizontalAlignment="right">
                                </dxo-legend>
                                <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
                                    <dxo-label>
                                        <dxo-format type="decimal"></dxo-format>
                                    </dxo-label>
                                </dxo-argument-axis>
                                <dxo-export [enabled]="true"></dxo-export>
                                <dxo-tooltip [enabled]="true"></dxo-tooltip>
                            </dx-chart>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>